@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	color: #fff;
	background-color: #333;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.images {
}
.images__container {
}
.images__row {
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
	row-gap: 15px;
}
.images__column {
	flex: 0 1 33.333%;
	padding: 0 15px;
}

/* Оболонка зображення */
.images__item {
	position: relative;
	padding-bottom: 63.613232%; /* 250/393 */
}
/* Саме зображення */
.images__item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* object-position: center; */
}

@media (max-width: 767.98px) {
	.images__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 479.98px) {
	.images__column {
		flex: 0 1 100%;
	}
}

/* ---------------------------- */
.block {
}
.block__container {
}
.block__column {
	margin-bottom: 20px;
}

/* PC First */
/*
@media (max-width: 456px) {
	.block__column {
		flex: 0 0 100%;
	}
}
*/

/* Mobile First */
/* Тільки коли екран ширше ніж... */
@media (min-width: 768px) {
	.block__container {
		display: flex;
		flex-wrap: wrap;
	}
	.block__column {
		flex: 0 0 33.333%;
	}
}

/* Тільки коли екран вужче ніж... */
@media (max-width: 767.98px) {
	.block {
		background: url("../img/portfolio/01-small.jpg") 0 0 no-repeat;
	}
}
/* Тільки коли екран ширше ніж... */
@media (min-width: 768px) {
	.block {
		background: url("../img/portfolio/01-big.jpg") 0 0 no-repeat;
	}
}

/* @media запит - умова при який спрацюють стили */
/* Момент зміни стилів при якийсь умові ще називають breakpoint */
/* Подробиці: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#syntax */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/aspect-ratio */
/* Анатомія @media: */
/*
	@media (умова){
		CSS-селектор{
			CSS-параметр;
			...
			CSS-параметр;
		}
	}

	Декілька пристроїв \ варіантів
	@media screen, print{
		CSS-селектор{
			CSS-параметр;
			...
			CSS-параметр;
		}
	}

	Декілька умов
	@media (умова) and (умова){
		CSS-селектор{
			CSS-параметр;
			...
			CSS-параметр;
		}
	}
*/

/* Умова - ширина екрану */
/* Екрани =< 826px */
/*
@media (max-width: 826px) {
	.block__column {
		flex: 0 0 50%;
	}
}
*/
/* Мультіумова */
/* =< 826 та => 450 */
/*
@media (min-width: 450px) and (max-width: 826px) {
	.block__column {
		flex: 0 0 50%;
	}
}
*/

/* 
Примітівна адаптивна сітка
!Не рекомендується, але легше для застосування\навчання
*/

/*
[class*="__container"] {
	max-width: 1240px;
	margin: 0 auto;
}
*/
/* Показуємо контент беспечно для усіх ПК моніторів */
/*/
@media (max-width: 1270px) {
	[class*="__container"] {
		max-width: 960px;
	}
}
*/
/* Показуємо контент беспечно для усіх планшетів */
/*
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 740px;
	}
}
*/
/* Показуємо контент беспечно для усіх великих мобільних */
/*
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
		padding-left: 15px;
		padding-top: 15px;
	}
}
*/
/* Стилі для маленьких мобільних */
/*
@media (max-width: 479.98px) {
}
*/

/* якщо пристрій вміє робити наведення, додаємо hover */
@media (any-hover: hover) {
	a:hover {
	}
}
/* якщо висота більша ніж ширина */
@media (max-aspect-ratio: 3/2) {
	div {
	}
}

/* ---------------------------- */

/* 
Адаптивна верстка - це не про 
впихування дизайну під ПК у маленьки екрани,
це про зручність у користуванні та оптимізацію
*/

/* Хороші практики адаптивної верстки: */
/* 
- Дивіться на екран, та відповідайте на питання "Чи зручно цим користуватись?"
- Для того щоб робити верстку швидко, продумовуйте адаптив ще на ПК
- Не ховайте від користувача найважливіші елементи
- Один клік завжди кращий за два
- Не робіть великі відступи. Зайвий простір тут непотрібен
- Важливі навігаційні вузли робіть зручнішими (крупнішими), не змушуйте користувача цілитись
- Оптимізаця простору та завантаження. Ховайте зайве
- Долучайте свій власний досвід користувача, не повторюйте те що не зручно вам самим
*/

/* ---------------------------- */
