@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;1,100&family=Titillium+Web:ital,wght@0,200;0,300;1,200&display=swap');
@font-face {
   font-family: 'Libre Baskerville';
   src: url('LibreBaskerville-Italic.woff2') format('woff2'),
       url('LibreBaskerville-Italic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Libre Baskerville';
   src: url('../fonts/LibreBaskerville-Bold.woff2') format('woff2'),
       url('../fonts/LibreBaskerville-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Libre Baskerville';
   src: url('../fonts/LibreBaskerville-Regular.woff2') format('woff2'),
       url('../fonts/LibreBaskerville-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Titillium Web';
   src: url('../fonts/TitilliumWeb-BoldItalic.woff2') format('woff2'),
       url('../fonts/TitilliumWeb-BoldItalic.woff') format('woff');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Titillium Web';
   src: url('../fonts/TitilliumWeb-Black.woff2') format('woff2'),
       url('../fonts/TitilliumWeb-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
       url('../fonts/Roboto-BlackItalic.woff') format('woff');
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto-Black.woff2') format('woff2'),
       url('../fonts/Roboto-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Titillium Web';
   src: url('../fonts/TitilliumWeb-Bold.woff2') format('woff2'),
       url('../fonts/TitilliumWeb-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

body {
   font-family:"Roboto";
  
}
/**************************************************************************************/
.nepal-1 {
   text-decoration: line-through;
   font-family:"Titillium Web",sans-serif ;
   font-weight: 900;

}
.nepal-right {
   
  font-family:"Libre Baskerville",serif; 
  font-weight: normal;
   text-align: right;
}
.nepal-left {
   text-decoration: overline;
   font-family:"Libre Baskerville"; 
   font-weight: bold;
   text-align: left;
}
.nepal-center {
   font-family:"Libre Baskerville",; 
   font-weight: normal;
 text-align: center;
 font-style: italic;
}
.nepal-justify {
   text-shadow: 2px 2px 5px #000;
   font-family:"Titillium Web" ;
   font-weight: 700;
   text-align: justify;
   
}
.line {
   
   text-decoration: underline;
}
/* ***********************************************************************/


   

.nepal-2 {
  font-family: "Roboto";
  font-weight: bold;
   text-indent: 40px;
}
.text-transform {
   font-family: "Roboto";
   font-weight: 900;
   font-style: italic;
   letter-spacing: 8px;
}
.capitalize {
   font-family: "Roboto";
   font-weight: 900;
   font-style: normal;
   text-transform: capitalize;
   white-space: nowrap;
}
.lowercase {
   text-align: center;
   font-family:"Titillium Web";
   font-family: bold;
   font-style: italic;
   text-transform: lowercase;
}
.uppercase {
   text-align: left;
   white-space: nowrap;
   text-transform: uppercase;
}

.list {
   text-align: right;
   text-transform: uppercase;
   word-spacing: 40px;
}




