@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
   font-family: "Poppins", sans-serif;
   font-size: 18px;
}

.wrapper {
   min-height: 100%;
}
.block-project{
   margin-bottom: 80px;
}
.main-block__container{
   max-width: 1230px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}
.block-colums__container{
   max-width: 1230px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}
.block-project__colums-block {
  
}
.main-block__text{
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 100px;
}
.main-block__title{
font-weight: 700;
font-size: 56px;
line-height: 1.3;
color: #000000;
  
}

.main-block__subtitle{
text-align: center;
font-weight: 400;
font-size: 18px;
line-height: 1.6;
max-width: 519px;
}

.block-colums {
}
.block-colums__container {
}
.block-colums__block {
   flex-wrap: wrap;
 display: flex;
 gap: 15px;   

}
.block-colums__item{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
h2{
   max-width: 584px;
}
.column {
}
.block-colums__text{
   display: flex;
   flex-direction: column;
   gap: 80px;
}
.block-colums__title  {
   display: flex;
   flex-direction: column;
   gap: 20px;
   font-weight: 600;
font-size: 24px;
line-height: 1.4;

}
.block-colums__subtitle {
   font-weight: 400;
   font-size: 18px;
   line-height: 1.6;
}
.block-colums__time {
   display: flex;
   gap: 80px;
}
.block-colums__date {
}
.block-colums__design {
}
.column-block {
}
.porfolio {
   margin-bottom: 100px;
}
.porfolio-block {
}
.block-portfolio {
}
.block-portfolio__container {
   max-width: 1230px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}
.block-portfolio__images{
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
}
.block-portfolio__block{
   display: flex;
   gap: 20px;
}
.block-portfolio__image {
}
/* ********************** */
.service-block {
  
}
.block-service__item{
display: flex;
flex-wrap: wrap;
flex-direction: column;
row-gap: 40px;
  
}  

.block-service {
}
.block-service__container {
   max-width: 1230px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;

}
.block-service__line{
  position: relative;
}
.line__img{
   position: absolute;
   top: 10px;
    left: 136px;
}
.line {
}
.line__achievement {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
}
.block-service__cards {
   display: flex;
   gap: 120px;
}
.cards__block{
   flex: 0 0 333px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.cards {
}
.cards__image {
}
.block-cards__title {
font-weight: 600;
font-size: 24px;
line-height: 1.4;
}
.block-cards__subtitle {
font-weight: 400;
font-size: 18px;
line-height: 1.6;
}
