@import url("reset.css");



body {
   font-family: "Roboto", sans-serif;
   font-size: 18px;
}
.wrapper{
   min-height:100%;
   padding-bottom:10px ;
}
.form-block__container {
   max-width: 700px;
   padding-right: 15;
   padding-left: 15px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}
.block-form__textarea{
   flex: 0 690px;
}
.block-form__form {
   width: 100%;
   
}
textarea {
   outline: transparent;
   min-height: 40px;
   border: solid 1px black;
   resize: vertical;
   margin-bottom: 35px;
}
.block-form__form {
   border: 1px solid #3056d3;
   border-radius: 7px;
}

.form-block {
   max-width: 1230px;
   padding-left: 15px;
   padding-right: 15px;

}

.block-form {
   display: flex;
   flex-direction: column;
}
.block-form__title {
   font-family: "Oswald";
   margin-bottom: 8px;
   font-weight: 700;
   font-size: 24px;
}
.block-form__subtitle{
   font-weight: 500;
   font-size: 16px;
   line-height:1.5;
   color: #637381;
   margin-bottom: 45px;
}
.block-form__flex {
   justify-content: space-between;
   margin-bottom: 45px;
   display: flex;
   gap: 5px;
   flex-wrap: wrap;
   row-gap: 45px;
  
}
.test-form {
}
.block-form__forms {
   display: flex;
   flex-direction: column;
   flex: 0 0 336px;
   row-gap: 65px;
}
.block-form__icon {
   padding: 15px 15px;
   border: 1px solid #3056d3;
   height: 54px;
   border-radius: 7px;
}
.icon-form {
}
.icon-form__line {
   position: relative;
}
.input {
   outline: transparent;
}
.icon-form__line{
   outline: transparent;
}
.icon-form__select{
   outline: transparent;
   width:  306px;
}

.block-form__label{
   font-weight: 500;
   font-size: 16px;
   line-height:1.5;
   color: #637381;
}
.block-form__input{
   position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
} 
.block-form__line{
   position: relative;
}

.block-form__label{
   display: inline-flex;
   align-items: flex-start;
   gap: 5px;
   cursor: pointer;
}
.block-form__label::before{
content: "";
display: flex;
width: 22px;
height: 22px;
border: 0.7px solid #E7E7E7;
border-radius: 4px;
}
.block-form__input:checked + .block-form__label::before{
   background-image: url(../img/1.png);
   background-repeat: no-repeat;
   background-position: 50% 50%;

}
.block-form__checkbox{
   display: flex;
   flex-direction: column;
   row-gap: 25px;
   margin-bottom: 55px;
}
.block-coupon {
   display: flex;
   gap: 20px;
   margin-bottom: 100px;
}
.block-coupon__icon {
}
.block-coupon__line {

}
.block-coupon__input {
  height: 48px;
  outline: transparent;
  min-width: 325px;

  
}
.block-coupon__button {
   min-width: 135px;
   height: 48px;
   background: #212B36;
   border-radius: 5px;
   color: #fffefe;
}
.coupon__title{
   font-weight: 600;
font-size: 20px;
line-height: 1.3;
margin-bottom: 24px;
}
.shipping-block__container{
   max-width: 606px;
   margin: 0 auto;
}
.shipping-block__form{

}
.shipping-block__icons{
   display: flex;
   flex-direction: column;
   min-width: 606px;
   gap: 27px;
   margin-bottom: 16px;
}
.block-shipping{
   display: flex;
   flex-direction: column;
  
}
.shipping-block {
   display: flex;
   justify-content: space-between;
   
}
.block-input {
  display: flex; 
  justify-content: space-between;
}
.block-input__label {
   font-weight: 400;
font-size: 16px;
line-height: 1.25;
   display: block;
   padding-top: 10px;
  
}
.shipping-block__title{
   font-family: "Oswald";
   font-weight: 400;
font-size: 24px;
line-height: 2.8;
}
.block-input__form{
   border: 1px solid #C4C4C4;
   flex:0 1 451px;
   height: 44px;
   outline: transparent;
}
.block-input__input {
   border: 1px solid #C4C4C4;
   flex:0 1 451px;
   height: 44px;
   outline: transparent;
}
.input-block{
   display: flex;
   flex-direction: column;
   gap: 24px;
   margin-bottom: 44px;
}
.block-button__subtitle{
   font-weight: 400;
   font-size: 14px;
   line-height: 1.4;
   color: #828282;
   margin-bottom: 14px;
}
.block-shipping {
   display: flex;
   
   row-gap: 15px;
}
.shipping-button {
}
.shipping-button__subtitle {
font-weight: 400;
font-size: 14px;
line-height:1.5;
color: #828282;;
}
.block-button__icon {
   display: flex;
   gap: 25px;
}
.block-button__button {
flex-basis: 120px;
font-weight: 500;
font-size: 14px;
line-height: 1.5;
height: 50px;
background: #000000;
color: #ffffff;
}
.block-button__line {
   padding-top: 15px;
}
.shipping-button__input {
   
}
.block-select {
}
.block-select {
   display: flex;
   justify-content: space-between;
  
}

.block-select-icon {
   border: 1px solid #C4C4C4;
   width: 451px;
   height: 44px;
   outline: transparent;
}
.icon-select {
   flex-basis: 451px;
   height: 44px;

}
.block-select__select {

}
.icon-select__select{
  
}
.icon-select__select{
   font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #3F3F3F;
   outline: transparent;
   padding-left: 16px;
   width: 420px;
}
.block-button__link{
   color: #0F6DB1;
}
.radio__item{
   position: relative;
   border-top: 1px solid #C4C4C4;
   flex-basis: 492px;
   display: flex;
   min-height: 44px;
   justify-content: space-between;

}
.radio__label{
   display: inline-flex;
   align-items: flex-start;
   gap: 5px;
   cursor: pointer;

}
.radio__input{
   position: absolute;
   top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.shipping-block__price{
   
}
.radio__label::before{
   margin-right: 5px;
   content: "";
   display: flex;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border: 1px solid #828282;
}
.radio__input:checked + .radio__label::before{
   border-radius: 50%;
   border: 3px solid #000000;
   

}
.block-input{
   
}

